/* Reseteo */
/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
} */
/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */

/* imagen responsive */
img{
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'open sans';
}


.clear-fix{
    clear: both;
}
/* .botons{
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    background-color:#371B58;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    border: 2px solid;
    padding: 0.5em 1.2em;
    
}
.botons:hover{
    box-shadow: 0 4px 16px #7858A6;  
    transition: all 0.2s ease;
} */
.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    font-size: 30px;
    text-align: center;
    margin: 60px;
}

.parrafo {
    color: #ffffff;
    text-align: center;
}

/* header - menu*/



/* home servicios */

/* FIN HOME */
/* INICIA HOME */
/* home 1era seccion */
main .sobre-nosotros{
    padding: 90px;
}

.contenedor-sobre-nosotros{
    background-color: #efefef;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
}
.contenedor-sobre-nosotros span{
    margin-top: 10px;
    width: 100px;
    height: 40px;
    padding: 2px;
    float: right;
}

.grid-chijo{
    width: 100%;
    /* max-width: 1200px; */
    background-color: #371B58;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    color: white;
    display: grid;
    align-items:center;
    margin: auto;
    gap: 50px;
    padding: 0px 0px;
    
}

/*INICIA NOSOTROS */
.container-nosotros {
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-start; */
    margin: 8rem;
    gap: 50px;
    padding: 10px;
    color: #ffffff;
}

.grid-nosotros {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content:center;
    align-items: center;
    margin: 8rem;
    padding: 10px;
}

.grid-nosotros h3{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #ffffff;
    color: #371B58;
    height:200px;
    width:200px;
    border-radius:100px;
}

.carousel-item {
    height: 32rem;
    background-color: #191919;
    color: #ffffff;
    position: relative;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.container-carousel{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
}

.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top:0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}
/* 
.boton-carousel{
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    background-color:#371B58;    
}
.boton-carousel:hover{
    box-shadow: 0 4px 16px #7858A6;  
    transition: all 0.2s ease;
} */



/* equipo */

/* FIN NOSOTROS */

/* INICIA SERVICIOS */
/* igual home servicios */
.servicios-tap{
    background-color: #efefef;
    margin:auto;
    text-align: center;  
}

/* que dicen nuestros clientes */
/* .cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}
.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
} */

/* FIN SERVICIOS */

/* INICIA CONTACTO */

.contacto{
    justify-content: center;
}

.contacto h2 {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin: 30px;  
}

.form{
    display: flex;
    justify-content: center;
}
/* INICIA PORTAFOLIO */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicio-cont{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.servicio-ind{
    width: 24%;
    text-align: center;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

}

.servicio-ind img{
    width: 90%;
    height: 200px;
    border: 3px solid #371B58;
    border-radius: 5%;
    display: block;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: center;
}


.module-border-wrap {
    max-width: 100%;
    padding: 10px;
    position: center;
    background: linear-gradient(to right, #42d4ee, #642a73);
    display: flex;
    align-content: center;
}
  
.module {
    background: #f2f2f2;
    color: black;
    padding: 2rem;
    text-align: center;
}

/* FIN PORTAFOLIO */




/* Media quiery */

@media screen and (max-width:760px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-nosotros {
        flex-direction: column;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .grid-nosotros {
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
    }
   
    .equipo-cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .equipo-cards .card-e{
        width: 90%;
    }

    .equipo-cards .card-e:first-child{
        margin-bottom: 30px;
    }

    /* Servicios */

    .imagen-port{
        width: 44%;
    }
    .servicio-ind{
        width: 44%;
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

   .servicio-ind img{
        width: 90%;
    } 
}

@media screen and (max-width:500px){
    .menu-footer .grupo1{
        /* width: 90%; */
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
        padding: 35px 0px;
    }
    header .logo-menu {
        flex-direction: column;
       /*  height: 100%; */
        background-color: #371B58;
        color: #ffffff;
        padding: 10px;
    }
    nav {
        flex-direction: column;
        padding: 10px 0px;
    }
    .grid-chijo{
        grid-template-columns: repeat(1,1fr);
        
    }



 /* media  desktop */
    @media screen and (min-width: 761px) {

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }  
    }
}