/* base */
@import "base/variables";
@import "base/basico";
@import "base/media-quiery";

/* components */
@import "components/botones";
@import "components/fondos";
@import "components/galeria";
@import "components/cards";
@import "components/tarjetas";
/* layout */
@import "layout/footer";
@import "layout/header";
@import "layout/contacto";
@import "layout/nosotros";
@import "layout/home";
@import "layout/portafolio";
@import "layout/servicios";
@import "layout/sub.servicio";







