
@mixin contenedor-flex () {
    display: flex;
    justify-content: center;
}
.contacto{
    justify-content: center;
    

    h2{
        font-size: 30px;
        text-align: center;
        margin: 30px; 
    }
}

.form{
    @include contenedor-flex();
}