
.menu-footer {
    background-color:#191919;
    color: rgb(255, 255, 255);
    padding: 10px;

    .grupo1 {
        width: 100%;
        max-width: 1200px;
        margin:auto;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        gap: 50px;
        padding: 45px 0px;

        @media screen and (max-width:500px) {
            grid-template-columns: repeat(1,1fr);
            gap: 30px;
            padding: 35px 0px; 
        }

        .box {
            h4 {
                color: #ffffff;
                margin-bottom: 25px;
                font-size: 20px;
            }
            p {
                color: #efefef;
                margin-bottom: 10px;
            }
            li {
                display: inline;
                padding: 15px;
            }
            .red-social a {
                display: inline-block;
                text-decoration: none;
                width: 45px;
                height: 45px;
                line-height: 45px;
                color: #ffffff;
                margin-right: 10px;
                background-color: #371B58;
                text-align: center;
                transition: all 300ms ease;
    
                a:hover{
                    color: #47B5FF;
                }
            }

        }    
    }
    .grupo2 {
    
        padding: 15px 10px;
        text-align: center;
        color: #ffffff;
    }
}





