//header
header {
	display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 100%; */
    background-color: #371B58;
    color: #ffffff;
    padding: 10px;

    a{
        color: #ffffff;
	    text-decoration: none;
        display: flex;
        font-weight: 300;
    }
}

.logo-menu {
    display: flex;
    justify-content: center;
    width: 100%;
	background: #371B58;
    color: #ffffff;
    padding: 10px;

    .logo {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        align-items: end;
    }

    h2 {
        font-weight: 50;
	    font-size: 18px;
        padding-block: 10px;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: end;
        padding: 0px;
        text-align: center;
        color: #ffffff;
    }

    a {
        display: inline;
        padding: 10px;
        
        a:hover {
            border-bottom: 4px solid red;
            padding-bottom: 10 px;
            transition-duration: 0.4s;
        }            
    }
  
}


