/* INICIA SERVICIOS */
/* igual home servicios */
.servicios-tap{
    background-color: #efefef;
    margin:auto;
    text-align: center;  
    padding: 60px 0;
    width: 60%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/* FIN SERVICIOS */