%botons{
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    background-color:$color-principal;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    border: 2px solid;
    padding: 0.8em 1.2em;
    
    &:hover{
        box-shadow: 0 4px 16px #7858A6;  
        transition: all 0.2s ease;
    }
    
}


.boton-carousel {
    @extend %botons;
    text-decoration: none;
    border-radius: 10px;   
     
}

.boton-index {
    @extend %botons;
    width: 250px;
    border-radius: 20px;
    
    
}