.fondo-morado{
    background-color: $color-principal;
    color: #ffffff;
}

.fondo-blanco {
    background-color: $color-cream;
}

.fondo-inicio{
    background-image: url(./../Images/Fondo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}