.about-services{
    background: $color-cream;
    padding-bottom: 30px;
    margin-top: 30px;
}
.po-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
%tarjport {
    background-color:$color-cream;
    border-radius: 4px;
    padding: 16px;
    box-shadow: black 1px 1px 12px 0px ;
    max-width: 300px;   
}

%avatar {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    object-fit:contain;
}

%titulo-port {
    padding-top: 30px;
    font-weight: 700;
    font-size: 20px;
    opacity: 0.85;
}

%small {
    font-weight: 400;
    font-size: 12px;
    opacity:0.75;
}

.po-card {
    @extend %tarjport;
    max-width: 300px;
    margin-top: 40px;
    width: 20%;
    text-align: center;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;   
    
    > img {
        @extend %avatar;
    }
    > h3 {
        @extend %titulo-port;
    } 
    > p {
        @extend %small;
    }
}



@media screen and (max-width:500px) {
    .about-services {
        .po-port {
            .po-card{
                width: 80%;

            }

        } 
    }
}
