/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */

/* imagen responsive */
img{
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'open sans';
}

.clear-fix{
    clear: both;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    font-size: 40px;
    text-align: center;
    font-weight: 50px;
    margin: 60px;
    color: $color-principal;
}

.parrafo {
    color: #ffffff;
    text-align: center;
}

h2 {
    color: $colorW-letra;
}

h1{
    color: $color-principal;
}

@mixin reseteo () {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}


*{
    @include reseteo ();
}