

/* Media quiery */

@media screen and (max-width:760px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-nosotros {
        flex-direction: column;
        align-items: center;
    }

    .sobre-nosotros {
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;

        .contenido-textos{
            width: 90%;
        }
    }

    .equipo-cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .equipo-cards .card-e{
        width: 90%;
    }

    .equipo-cards .card-e:first-child{
        margin-bottom: 30px;
    }

       
    .servicio-ind{
        width: 44%;
    }
    

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .card{
            width: 90%;
            width: 200px;
        }
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

   .servicio-ind img{
        width: 90%;
    } 
}

@media screen and (max-width:500px) {
    header .logo-menu {
        flex-direction: column;
        background-color: #371B58;
        color: #ffffff;
        padding: 10px;
    }
    nav {
        flex-direction: column;
        padding: 10px 0px;
    }

  
    
    .menu-footer {
        .grupo1{
        
            grid-template-columns: repeat(1,1fr);
            gap: 30px;
            padding: 35px 0px;
        }
    }

    main{
        .grid-chijo {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            padding: 20px;
        }
    }
    
    .po-card {
        .tarjport {
            background-color:$color-cream;
            border-radius: 4px;
            padding: 16px;
            box-shadow: black 1px 1px 12px 0px ;
            max-width: 300px;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            justify-content:space-around;
            align-items: center;   
        }
    }

  

    /* media  desktop */
    @media screen and (min-width: 761px) {

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }  
    }
}