//variable color
$color-principal: #371B58;
$color-secundario: #7858A6;
$color-terciario: #47B5FF;
$color-cream: #f2f2f2;

//variable color letra
$colorW-letra: white;
$colorB-letra: black;
$colorP-letra: $color-principal;

.titulo {
    color: $color-principal;
}

h2 {
    color: $colorW-letra;
}

h1{
    color: $color-principal;
}

@mixin reseteo () {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}


*{
    @include reseteo ();
}
    


//gradiente
